<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>biblio_h8</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>it.formarete.listener.H8Listerner</listener-class>
  </listener>
  <servlet>
    <description></description>
    <display-name>ControlloElencoLibri</display-name>
    <servlet-name>ControlloElencoLibri</servlet-name>
    <servlet-class>it.formarete.controller.ControlloElencoLibri</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlloElencoLibri</servlet-name>
    <url-pattern>/ElencoLibri</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>ControlloProteggiAccesso</display-name>
    <filter-name>ControlloProteggiAccesso</filter-name>
    <filter-class>it.formarete.controller.ControlloProteggiAccesso</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>ControlloProteggiAccesso</filter-name>
    <url-pattern>/areaRis.jsp</url-pattern>
    <url-pattern>/riservatoFormLibro.jsp</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>ControlloLoginTessera</display-name>
    <servlet-name>ControlloLoginTessera</servlet-name>
    <servlet-class>it.formarete.controller.ControlloLoginUtente</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlloLoginTessera</servlet-name>
    <url-pattern>/LoginTessera</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControlloLogout</display-name>
    <servlet-name>ControlloLogout</servlet-name>
    <servlet-class>it.formarete.controller.ControlloLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlloLogout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ControlloFormLibro</display-name>
    <servlet-name>ControlloFormLibro</servlet-name>
    <servlet-class>it.formarete.controller.ControlloFormLibro</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControlloFormLibro</servlet-name>
    <url-pattern>/FormLibro</url-pattern>
  </servlet-mapping>
</web-app>